html
     head
          meta(charset='utf-8')
          meta(name='viewport' content='width=device-width, initial-scale=1')
          title ConnectBot - PT1 - P1 Event
          link(rel='stylesheet' href='../css/screen-size/mobile.css' media='screen and (max-width: 400px)')
          link(rel='stylesheet' href='../css/screen-size/tablet.css' media='screen and (min-width: 400px) and (max-width: 900px)')
          link(rel='stylesheet' href='../css/screen-size/laptop.css' media='screen and (min-width: 900px) and (max-width: 1980px)')
          link(rel='stylesheet' href='../css/style.css')

     body
          include menu.jade

          div(class='text-intro')
               h1 About
               p Leer Meer Over ConnectBot

          div(class='text-bg-grey')
               h1 Hoe ConnectBot Begon
               
               p ConnectBot is een project dat is opgestart in Eindhoven, ergens rond Augustus 2018. Het project is gestart wegens een evenement dat gehouden word op het Fontys in Eindhoven, genaamd het P1-Event.

          div(class='text-bg-robot')
               h1 Waarom we ConnectBot zijn Gestart
               
               p We zijn begonnen met ConnectBot omdat we van school uit een project moesten maken dat een probleem oplost. Vervolgens gingen wij denken aan veel voorkomende dingen die gemakkelijk kunnen worden opgelost met een robot. Hierdoor zijn we op het idee gekomen om kinderen met werkende ouders te helpen. 
               p Kinderen met werkende ouders hebben vaak niemand om mee te spelen, maar met ConnectBot hebben zij altijd een vriend om 4 Op Een Rij mee te spelen
          div(class='text-bg-white')
               h1 Specificaties
               
               p Aantal Spelers: 2 (1 is de robot)
               p Leeftijd: 6+
               p Prijs: $250,-
          div(class='text-bg-release')
               h1 Release
               
               p Helaas zal ConnectBot nooit de schappen van de winkels zien. Tenslotte is het ook met een schoolproject.
               p Wel zal ConnectBot te zien zijn op het P1-Event op het Fontys in Eindhoven. Hier is ConnectBot te zien in al zijn glorie.
          include footer.jade
