html
     head
          meta(charset='utf-8')
          meta(name='viewport' content='width=device-width, initial-scale=1')
          title ConnectBot - PT1 - P1 Event
          link(rel='stylesheet' href='../css/screen-size/mobile.css' media='screen and (max-width: 400px)')
          link(rel='stylesheet' href='../css/screen-size/tablet.css' media='screen and (min-width: 400px) and (max-width: 900px)')
          link(rel='stylesheet' href='../css/screen-size/laptop.css' media='screen and (min-width: 900px) and (max-width: 1980px)')
          link(rel='stylesheet' href='../css/style.css')

     body
          include menu.jade
          
          div(class='text-intro')
               h1 Bedrijf
               p Leer Hier Meer over ConnectBot Inc

          div(class='text-bg-grey')
               h1 Geschiedenis van ConnectBot Inc
               
               p ConnectBot is eind Augustus gestart door een groep van 5 jongens die studeren op het Fontys in Eindhoven. ConnectBot Inc is het fictieve bedrijf dat wij hiervoor hebben bedacht, en het product dat wij ontwikkelen heet ConnectBot.
          div(class='text-bg-robot')
               h1 Ontmoet de Medewerkers
               
               p Luca Classens | Media Designer
               p Jan Eickmans | Software Developer and Information Analyst
               p Niek van Goch | Project Leader
               p Robin Galema | Technology
               p Yip Char | Technology
          div(class='text-bg-white')
               h1 Partners
               
               p ConnectBot is geheel door ons zelf gemaakt. Wel is er hulp geweest van onze docenten op het Fontys in Eindhoven.
               
          div(class='text-bg-release')
               h1 Contact
               
               p Om ons te bereiken kun je een mail sturen naar connectbot1@gmail.com of stuur een bericht op onze social media: @ConnectBot2. Je kunt ook de hashtag #ConnBot gebruiken om onze aandacht te krijgen.
          include footer.jade
