div(class='landing-menu')
     div(class='menu')
          ul(id='menu-items')
               li
                    a(href='#') Home
               li
                    a(href='../html/about.html') About
               li
                    a(href='../html/company.html') Company
               li
                    a(href='#') Poll
               li
                    a(href='#') Buy
