div(class='landing')
     div(class='landing-container')
          h1 ConnectBot
          p A Product for Kids with Working Parents
                    
          div(class='start-btn')
               a(class='btn-start' href='#menu-items') Learn About ConectBot

include landing-menu.jade
//- include footer.jade
