div(class='header')
     ul
          li
               p ConnectBot
          li
               a(href='#') Buy
          li
               a(href='../inc/poll.php') Poll
          li
               a(href='../html/company.html') Company
          li
               a(href='../html/about.html') About
          li
               a(href='../index.html') Home
