html
     head
          meta(charset='utf-8')
          meta(name='viewport' content='width=device-width, initial-scale=1')
          title ConnectBot - PT1 - P1 Event
          link(rel='stylesheet' href='../css/screen-size/mobile.css' media='screen and (max-width: 400px)')
          link(rel='stylesheet' href='../css/screen-size/tablet.css' media='screen and (min-width: 400px) and (max-width: 900px)')
          link(rel='stylesheet' href='../css/screen-size/laptop.css' media='screen and (min-width: 900px) and (max-width: 1980px)')
          link(rel='stylesheet' href='../css/style.css')

     include menu.jade
