h2 UI

h1 Als je het UI ziet, wat is het eerste waar je aan denkt?
p Antwoord:
input(type='text' name='ui')

h1 Wat is je mening van het UI?
p Antwoord:
input(type='text' name='ui_men')

h1 Wat vind je goed aan het UI?
p Antwoord:
input(type='text' name='ui_top')

h1 Zijn er dingen aan het UI waar je je aan irriteert?
p Antwoord:
input(type='text' name='ui_irr')

h1 Is de content op het UI goed te volgen, is alles duidelijk?
p Antwoord:
input(type='text' name='ui_volg')

h1 Is er genoeg te zien op het UI of juist te veel?
p Antwoord:
input(type='text' name='ui_am')

h1 Is er nog iets dat jij persoonlijk mist op het UI?
p Antwoord:
input(type='text' name='ui_mis')

h1 Vind je de “look” van de UI goed passen bij de rest van de applicatie?
p Antwoord:
input(type='text' name='ui_pas')

h1 Zijn er dingen die jij overbodig vindt?
p Antwoord:
input(type='text' name='ui_ov')

h1 Zijn er dingen die jij anders had gedaan?
p Antwoord:
input(type='text' name='ui_and')
